bin
demo_old
code_install/interface-lammps-mlip-3
code_install/lammps-mtp-kokkos
code_install/mlip-3
code_install/mlip-3-lammps
code_install/mlip3-extract
code_install/MTP_basis_optimization
code_install/new-lammps
code_install/VENV

*log.lammps
*preselected.cfg

**/out
**/optimization_results
**/pruned.almtp
**/done.almtp